<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lahima - Labour Hire Management Software</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav>
    <a href="/dashboard" class="">Dashboard</a>
    <a href="/workers/new" class="">New Worker</a>
    <a href="/clients/new" class="">New Client</a>
    <a href="/client_contacts/new" class="">New Client Contact</a>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
  </nav>
  <%= yield %>
  <script src="/js/app.js"></script>
</body>
</html>