<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lahima - Labour Hire Management Software</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="layout-body">
  <nav class="dash-side-nav">
    <h1 class="logo logo-layout">LAHIMA</h1>
      <a href="/dashboard" class="">
        DASH
        <img src="/images/icons/home.svg" alt="" class="icon home-icon">
      </a>
      <p class="nav-worker-section">WORKERS</p>
      <a href="/workers/list">
        LIST WORKERS
        <img src="/images/icons/workers.svg" alt="" class="icon workers-icon">
      </a>
      <a href="/register" class="">
        NEW WORKER
        <img src="/images/icons/add-worker.svg" alt="" class="icon add-worker-icon">
      </a>
      <p class="nav-client-section">CLIENTS</p>
      <a href="/clients/list" class="">
        LIST CLIENTS
        <img src="/images/icons/client.svg" alt="" class="icon client-icon">
      </a>
      <a href="/clients/new" class="">
        NEW CLIENT
        <img src="/images/icons/client1.svg" alt="" class="icon new-client-icon">
      </a>
      <p class="nav-project-section">PROJECTS</p>
      <a href="/projects/list" class="">
        LIST PROJECTS
        <img src="/images/icons/location.svg" alt="" class="icon project-icon">
      </a>
      <a href="/projects/new" class="">
        NEW PROJECT
        <img src="/images/icons/add-project.svg" alt="" class="icon add-project-icon">
      </a>
      <p class="nav-jobs-section">JOBS</p>
      <a href="/jobs/list" class="">
        LIST JOBS
        <img src="/images/icons/job.svg" alt="" class="icon job-icon">
      </a>
      <a href="/jobs/new" class="">
        NEW JOB
        <img src="/images/icons/add-job.svg" alt="" class="icon add-job-icon">
      </a>
    </nav>
  <main class="dash-main">
    <nav class="dash-top-nav">
      <a href="/users/<%= current_user.id %>">
        <div class="user">
          <h3><%= "#{current_user.first_name[0]}#{current_user.last_name[0]}" %></h3>
        </div>
      </a>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="logout-btn"><img src="/images/icons/logout.svg" alt=""></button>
      </form>
    </nav>

    <section class="dash-content">
      <%= yield %>
    </section>
  </main>
  
  <script src="/js/app.js"></script>
</body>
</html>