<h1>Add a Worker</h1>
<form action="/workers" method="post">
  <label for="">First Name</label>
  <input type="text" name="first_name">
  <label for="">Last Name</label>
  <input type="text" name="last_name">
  <label for="">Phone Number</label>
  <input type="text" name="phone">
  <label for="">Email</label>
  <input type="text" name="email">
  <label for="">Worker Type</label>
  <input type="text" name="worker_type">
  <label for="">Pay Rate</label>
  <input type="number" name="pay_rate">
  <label for="">Street Address</label>
  <input type="text" name="address1">
  <label for="">City</label>
  <input type="text" name="city">
  <label for="">State</label>
  <input type="text" name="state">
  <label for="">Country</label>
  <input type="text" name="country">
  <label for="">Post Code</label>
  <input type="text" name="post_code">
  <button>Add Worker</button>
</form>