.index {
  background-image: url('/images/index-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  width: 400px;
  height: 500px;
  background-color: rgba(255,255,255,0.5);
}

.dashboard {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.dashboard section {
  width: 50%;
  height: 400px;
  overflow-y: scroll;
  border: 2px solid black;
}