* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e9e9e9;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.layout-body {
  display: flex;
  min-height: 100vh;
}

.box {
  background-color: rgb(248, 248, 248);
  box-shadow: 0 3px 6px rgb(161, 161, 161);
  margin-bottom: 20px;
}

.logo {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #c0c0c0;
  margin: 0;
}

.index-logo {
  font-size: 3rem;
}

.logo-layout {
  margin: 20px 0;
}

.index {
  background-image: url('/images/index-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  width: 400px;
  height: 500px;
  background-color: rgba(0,0,0,0.7);
  border: 2px solid rgba(255,255,255,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .logo {
  width: 80%;
  margin-top: 20%;
  margin-bottom: 10%;
}

.login-form {
  color: #e2e2e2;
  height: 40%;  
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 300;
}

.login-form input {
  font-size: 1rem;
  padding: 0.2rem 1rem;
  font-weight: 200;
}

.email-input {
  margin-bottom: 5%;
}

.login-btn {
  padding: 0.2rem 0;
  margin-top: 2%;
  cursor: pointer;
  font-size: 1rem;
  color: #f1f1f9;
  background-color: #324a5e;
  border: none;
  box-shadow: 0px 2px 2px #3b3b3b;
  transition: all ease-in-out 0.2s;
}

.login-btn:hover {
  transition: all ease-in-out 0.2s;
  background-color: #2c5a71;
}

.dash-top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5%;
}

.user {
  background: mistyrose;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: darkgray;
  border: 2px solid darkgray;
}

.user-area {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-user-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.show {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.logout-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  box-shadow: none;
}

.logout-btn:hover {
  background: transparent;
}

.logout-btn img {
  width: 20px;
}

.dash-side-nav {
  width: 175px;
  background-color: rgb(2, 6, 26);
  display: flex;
  flex-direction: column;
  color: rgb(94, 94, 94);
  text-align: right;
  box-shadow: 1px 0 10px rgb(0, 1, 5);
}

.icon {
  width: 24px;
  margin-right: 5px;
}

.dash-side-nav p {
  margin: 10px 5px 0 0;
  letter-spacing: 0.3rem;
  font-weight: 600;
}

.dash-side-nav a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 7pt;
  letter-spacing: 0.2rem;
  padding: 3px 0;
  transition: all ease-in-out 0.3s;
}

.dash-side-nav a:hover {
  transition: all ease-in-out 0.3s;
  background-color: rgb(15, 20, 41);
}
.dash-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.button {
  font-size: 0.7rem;
  height: 1.5rem;
}

button, .button {
  background-color: #335f92;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  font-weight: 100;
  text-transform: uppercase;
  transition: background-color .2s ease-out;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  padding: 5px 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

button:hover, .button:hover {
  transition: background-color .2s ease-out;
  background-color: #3b72b1;
}

.dash-content {
  width: 100%;
}

.section-title {
  text-align: center;
  color: rgb(69, 69, 69);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin: 10px 0 5px;
  text-transform: uppercase;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color:#f1f1f9;
  margin-bottom: 20px;
}

.stats h2, .stats h4 {
  margin: 0;
}

.stats h2 {
  font-size: 3rem;
}

.stats h4 {
  font-size: 0.8rem;
  font-weight: 300;
}

.stat {
  width: 240px;
  height: 120px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 3px 6px rgb(161, 161, 161);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.working {
  color: rgb(55, 139, 55);
}

.unfilled {
  color: rgb(139, 55, 55);
}

.available {
  color: rgb(55, 68, 139);
}

.unassigned-workers {
  width: 60%;
  margin: 0 auto 20px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 3px 6px rgb(161, 161, 161);
}

.unassigned-workers ul {
  margin: 0;
}

.unassigned-workers h1 {
  text-align: center;
  padding-top: 10px;
  margin: 0;
  font-size: 1rem;
  color: rgb(36, 36, 36);
}
.unassigned-workers p {
  margin: 0;
  font-size: 0.8rem;
  color: rgb(36, 36, 36);
}

.unassigned-worker {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.job-status-container {
  display: flex;
  justify-content: space-evenly;
}

.unfilled-job-section, .filled-job-section, .working-job-section {
  width: 300px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 3px 6px rgb(161, 161, 161);
}

.working-job-section, .filled-job-section > h2, h3, h4, p {
  margin: 0;
  text-align: left;
}

.unfilled-job-section h2 {
  margin: 0;
}

.working-job-section h3, .unfille-job-section h3, .filled-job-section h3 {
  font-weight: bolder;
  text-transform: uppercase;
}

.working-job-section p, .unfilled-job-section p, .filled-job-section p {
  font-size: 0.8rem;
  font-weight: 100;
}

.unfilled-job, .filled-job, .working-job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: rgb(63, 63, 63);
  font-weight: 600;
  padding: 5px 10px;
}

.unfilled-job {
  background-color: rgba(139, 55, 55, 0.2);
  border: 1px solid rgba(139, 55, 55, 0.1);
}

.filled-job {
  background-color: rgba(55, 68, 139, 0.2);
  border-bottom: 1px solid rgba(55, 68, 139, 0.1)
}

.working-job {
  background-color: rgba(55, 139, 55, 0.2);
  border: 1px solid rgba(55, 139, 55, 0.1);
}

.fj-btns, .ufj-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ufj-btns form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fj-btns button, .ufj-btns button, .tfj-btns select {
  margin: 3px 0;
}

.ufj-btns form select {
  font-size: 1rem;
  font-weight: 200;
}

.all-workers-list {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

.worker-types-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.list-container {
  width: 300px;
}

.list-workers {
  width: 300px;
  height: 200px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 3px 6px rgb(161, 161, 161);
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
}

.list-workers a {
  color: rgb(77, 76, 76);
  text-decoration: none;
}

.list-heading {
  width: 100%;
  background-color: rgb(151, 150, 150);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}


.worker-list-item h3, .worker-list-item h4 {
  margin: 0;
}

.worker-list-item h3 {
  font-size: 1rem;
  font-weight: 100;
}

.worker-list-item h4 {
  font-size: 0.8rem;
  font-weight: 100;
}

.edit-worker-details {
  width: 80%;
  margin: 0 auto;
}

.worker-list-item {
  margin: 10px 0;
  border-bottom: 1px solid rgb(124, 124, 124);
}

.a-lab {
  background-color: rgba(70, 255, 14, 0.2);
}

.a-tic {
  background-color: rgba(14, 58, 255, 0.2);
}

.a-car {
  background-color: rgba(187, 14, 255, 0.2);
}

.edit-worker-details form {
  display: flex;
  flex-direction: column;
}

.edit-worker-details div {
  margin-bottom: 10px;
}

.edit-worker-details input {
  width: 30%;
}

.edit-worker-contact {
  display: flex;
  flex-direction: column;
}

.job-text {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.job-text-details {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden-text {
  display: none;
}

.client-detail-container {
  width: 60%;
  margin: 0 auto;
}

.client-container {
  margin-bottom: 100px;
}

.client-container a {
  color: rgb(69,69,69)
}

.client-name {
  font-size: 3rem;
  margin: 0;
}

.client-rates h2 {
  margin: 0;
}

.client-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 3px 6px rgb(161, 161, 161);
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}

.cl-con-container {
  display: flex;
  justify-content: space-evenly;
}

.client-det-btns {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.client-proj-title {
  font-size: 0.6rem;
  margin-bottom: 0;
}
.client-job-title {
  font-size: 0.6rem;
  margin-bottom: 0;
}

.cli-cont {
  width: 60%;
  margin: 0 auto;
}

.cli-cont a {
  color: rgb(69,69,69);
}

button .add-contact {
  margin: 0 auto;
}

.new-client-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

.new-client-container form {
  width: 80%;
  margin: 0 auto;
}

.new-client-container form button {
  width: 100%;
}

.new-client-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}


.proj-name {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 3px 6px rgb(161, 161, 161);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.proj-name h1 {
  margin: 0;
}

.proj-name h2 {
  margin: 0;
  font-weight: 100;
}

.proj-job-details {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 3px 6px rgb(161, 161, 161);
  margin-bottom: 20px;
}

.project-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px; 
}

.project-details {
  margin-bottom: 10px;
}

.project-details h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(69, 69, 69);
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin: 10px 0 0 0;
  text-transform: uppercase;
}

.project-details h2 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin: 0;
}

.project-details h3 {
  text-align: center;
  color: rgb(128, 127, 127);
  font-weight: 200;
  margin-bottom: 0;
}

.proj-link {
  color: rgb(58, 58, 58);
}

.project-jobs h2 {
  font-size: 0.8rem;
  margin-top: 0;
}

.proj-job {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
}


.new-project-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

.new-project-container form {
  width: 80%;
  margin: 0 auto;
}

.new-project-container form button {
  width: 100%;
}

.new-project-container form select {
  font-size: 1.3rem;
  font-weight: 200;
}

.new-project-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.choose-client {
  width: 60%;
  margin: 0 auto;
}

.choose-client form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.choose-client select {
  font-size: 2rem;
  margin: 10px;
  font-weight: 200;
  width: 50%;
}

.choose-client button {
  font-size: 0.8rem;
  padding: 10px;
}

.new-job-details {
  margin: 0 auto;
  width: 60%;
}

.choose-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-project select {
  font-size: 2rem;
  margin: 10px;
  font-weight: 200;
  width: 50%;
}

.job-specs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.job-specs select, .job-specs input {
  font-size: 1.2rem;
  font-weight: 200;
}

.new-job-details button {
  width: 80%;
  margin: 10px auto;
}

.small {
  font-size: 0.8rem;
}

.job-cont {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.list-job {
  margin-bottom: 10px;
  width: 300px;
  padding: 10px;
}

.client-edit {
  width: 60%;
  margin: 0 auto;
}

.client-edit-details form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.client-edit-details form input {
  width: 60%;
}

.worker-deets {
  width: 60%;
  margin: 0 auto;
  padding: 20px
}

.edit-project {
  width: 60%;
  margin: 0 auto;
}

.edit-project form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.edit-project form button {
  margin: 10px;
}

.add-client-contact {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


