<h1><%= @client.name %></h1>
<a href="/clients/<%= @client.id %>/edit">Edit Client Details</a>
<form action="/clients/<%= @client.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Client</button>
</form>