<h1 class="section-title">Add a New Client</h1>
<div class="new-client-container box">
  <form action="/clients" method="post">
    <div class="new-client-form">
      <label for="">Name</label>
      <input type="text" name="name">
      <label for="">ABN</label>
      <input type="text" name="abn">
      <label for="">Street Address</label>
      <input type="text" name="address1">
      <label for="">City</label>
      <input type="text" name="city">
      <label for="">State</label>
      <input type="text" name="state">
      <label for="">Country</label>
      <input type="text" name="country">
      <label for="">Post Code</label>
      <input type="text" name="post_code">
      <label for="">Contact First Name</label>
      <input type="text" name="contact_first_name">
      <label for="">Contact Last Name</label>
      <input type="text" name="contact_first_name">
      <label for="">Contact Phone</label>
      <input type="text" name="contact_phone">
      <label for="">Contact Email</label>
      <input type="text" name="contat_email">
      <label for="">Labour Rate</label>
      <input type="number" name="labour_rate">
      <label for="">Ticketed Rate</label>
      <input type="number" name="ticketed_rate">
      <label for="">Trade Rate</label>
      <input type="number" name="trade_rate">
    </div>
    <button>Add Client</button>
  </form>
</div>
