<h1 class="section-title">Add a New User</h1>
<div class="user-area box">
  <form action="/users" method="post" class="new-user-form">
    <label for="">First Name</label>
    <input type="text" name="first_name">
    <label for="">Last Name</label>
    <input type="text" name="last_name">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Phone</label>
    <input type="text" name="phone">
    <label for="">Password</label>
    <input type="password" name="password">
    <button>CREATE USER</button>
  </form>
</div>