<h1 class="section-title"><%= @user.full_name %></h1>
<div class="user-area box">
  <h2><%= @user.email %></h2>
  <h2><%= @user.phone %></h2>
  <a href="/users/new" class="button">CREATE A NEW USER</a>
</div>