<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lahima - Register as a Worker</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <div class="login">
    <a href="/">User Login</a>
  </div>
  <%= yield %>
</body>
</html>