<h1 class="section-title">Add a Client Contact</h1>

<form action="/client_contacts" method="post" class="box add-client-contact">
  <label for="">First Name</label>
  <input type="text" name="first_name">
  <label for="">Last Name</label>
  <input type="text" name="last_name">
  <label for="">Phone Number</label>
  <input type="text" name="phone">
  <label for="">Email</label>
  <input type="text" name="email">
  <label for="">Client Name</label>
  <select name="client_id">
    <% current_user.clients.each do |client| %>
      <% if client.id = params[:client_id] %>
        <option value="<%= client.id %>" selected><%= client.name %></option>
      <% else %>
        <option value="<%= client.id %>"><%= client.name %></option>
      <% end %>
    <% end %>
  </select>  
  
  <button>Add Client Contact</button>
</form>