<h1>Add a Client Contact</h1>
<form action="/client_contacts" method="post">
  <label for="">First Name</label>
  <input type="text" name="first_name">
  <label for="">Last Name</label>
  <input type="text" name="last_name">
  <label for="">Phone Number</label>
  <input type="text" name="phone">
  <label for="">Email</label>
  <input type="text" name="email">
  <label for="">Client Name</label>
  <select name="client_id">
    <% current_user.clients.each do |client| %>
      <option value="<%= client.id %>"><%= client.name %></option>
    <% end %>
  </select>  
  
  <button>Add Client Contact</button>
</form>